body{
	background-color: url(images/13.jpg);
	text-align:center;
}
h1 {
	color: #007799;
	font-weight:bold;
}
p{
	font-size: 18px;
	font-family:Cursive;
	letter-spacing:2px;
}
.1 {
	font-family:Serif
}